body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.top-header {
  position: relative;
  width: 100%;
  height: 1103px;
  background: url('../Image/Path_1.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: -1;
}
.top-header > h1 {
  font-weight: 500;
  font-size: 50px;
  color: #Q91133;
  width: 539px;
  height: 132px;
  margin: 243px 0 0 11.12%;
}
.top-header > span {
  display: inline-block;
  width: 539px;
  height: 164px;
  margin: 0 0 0 11.12%;
}
.top-header span > p {
  font-weight: 400;
  font-size: 18px;
  color: #505F98;
}
.designer-img {
  position: absolute;
  right: 0;
  bottom: 7.25%;
  width: 68.06%;
  height: 780px;
  background: url('../Image/Group.png') no-repeat;
  background-size: contain;
  background-position: right;
  z-index: -1;
}
.header-nav {
  width: 77.08%;
  height: 60px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
}
.header-nav > a {
  margin: 18px 4.17% 0 0;
  color: #505F98;
  text-decoration: none;
  float: left;
}
.header-nav > a:hover {
  text-decoration: underline;
}
.header-logo {
  position: absolute;
  color: #37447E;
  font-size: 26px;
  font-weight: 900;
  top: 12px;
  left: 47.12%;
  right: 47.39%;
}
#butBuyNow {
  font-weight: 500;
  font-size: 12px;
  width: 160px;
  height: 26px;
  margin-top: 14px;
  color: white;
  background-color: #111B47;
  border-radius: 2px;
  border: none;
  float: right;
}

#butBuyNow:hover {
  background-color: #FFD166;
  color: #111B47;
}
