body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.button-style {
  font-weight: 500;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  color: white;
  background-color: #111B47;
}
.button-style:hover {
  background-color: #FFD166;
  color: #111B47;
}
.setting-text > p {
  font-weight: 400;
  font-size: 18px;
  color: #505F98;
  margin-bottom: 0;
}
.content-block {
  width: 540px;
  display: block;
}
.heading-styles {
  font-weight: 500;
  color: #091133;
  margin: 0;
}
/* ======================
         Header
=========================*/
.top-header {
  width: 100%;
  height: 1103px;
  background: url('../Image/designer_1.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.top-header .content-block > h1 {
  font-size: 50px;
  height: 132px;
}
.top-header .content-block {
  margin: 243px 0 0 11.12%;
}
.header-nav {
  width: 77.08%;
  height: 60px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
}
.header-nav > a {
  margin: 18px 4.17% 0 0;
  color: #505F98;
  text-decoration: none;
  float: left;
}
.header-nav > a:hover {
  text-decoration: underline;
}
.header-logo {
  position: absolute;
  color: #37447E;
  font-size: 26px;
  font-weight: 900;
  top: 12px;
  left: 47.12%;
  right: 47.39%;
}
#butBuyNow {
  width: 160px;
  height: 26px;
  margin-top: 14px;
  float: right;
}
#butUIKit, #butLearnMore {
  width: 189px;
  height: 36px;
  margin: 69px 0 0;
  font-size: 16px;
  padding: 7px 0 4px 0;
}
#butLearnMore {
  margin-left: 30.15px;
  background-color: transparent;
  color: #091133;
  border: 2px solid #091133;
}
/* ======================
      Mobile Login
=========================*/
.mobile-login {
  width: 100%;
  height: 742px;
  margin: 7px 0 0;
  background-image: url('../Image/u.png');
  background-size: 540px 524.31px;
  background-repeat: no-repeat;
  background-position: 88.54% 109.65px;
  overflow: hidden;
}
.mobile-login-tittle {
  width: 540px;
  height: 48px;
  font-size: 36px;
  margin: 160px 0 0 11.46%;
}
.mobile-login .content-block{
  margin: 0 0 0 11.46%;
}
.icon-object_1 {
  display: block;
  width: 36px;
  height: 36px;
  background-image: url('../Icons/E.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.main-mobile-group {
  width: 540px;
  float: left;
  margin: 69px 0 0 11.46%;
}
.mobile-group {
  width: 255px;
  float: left;
}
.mobile-group  > h3 {
  height: 26px;
  font-size: 16px;
  margin-top: 14px;
}
.mobile-group > p {
  font-size: 12px;
  margin-top: 6px;
  color: #5D6970;
}
.mobile-login .mobile-group:last-child {
  margin-left: 30px;
}
/*========================
 (-_-)(-_-)(-_-)(-_-)(-_-)
==========================*/


/*Footer*/

.footer{
  width: 100%;
  margin: 4412px 0 0 0;
  height: 216px;
  background: #E7ECFF;
  overflow: hidden;
}

.footer-logo {
  position: absolute;
  color: #37447E;
  font-size: 26px;
  font-weight: 900;
  left: 47.12%;
  right: 47.39%;
  height: 38px;
  margin-top: 61px;
}

.copyright {
  position: absolute;
  color: #939EA4;
  font-size: 14px;
  font-weight: 500;
  left: 11.5%;
  height: 24px;
  margin-top: 68px;
}

.footer-nav{
  width: 77.08%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.footer-nav > .href-nav {
  color:#929ECC;
  margin: 24px 4.17% 0 0;
  text-decoration: none;
  float: left;
}

.footer-nav > .href-icon {
  color: #B0B8BC;
  margin: 24px 0 0 2.08%;
  text-decoration: none;
  float: right;
}

.footer-nav > a:hover {
  text-decoration: underline;
}

.hr-line{
  margin: 139px 11.46% 0 11.46%; /*  margin: 139px 0px 0 0;*/
  border: none;
  width: 77.08%;
  border-top: 1px solid #CDD1D4;
}
