nav {
  width: 80%;
  margin: 0 auto;
}
nav > a {
  text-decoration: none;
  color: #0000FF;
  border-radius: 3px;
  padding: 5px 30px;
  float: right;
}
nav > a:hover {
  background-color: #191970;
  color: white;
}
.logo {
  color: blue;
  font-size: 25px;
  font-weight: bold;
}
